<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />    
    <title>@ViewBag.Title - My Quotation Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="app">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("同花顺WEB", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    @*<ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>*@
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            <!--router-view-->
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - 我的行情应用</p>
            </footer>
        </div>
        <div class="popup" id="keybroadelfwidget" v-show="keyboradElf.is_show" tabindex="1" >
            <div></div>
            <input type="text" id="searchKey" v-model="keyboradElf.search_key" />
            <div v-for="item in keyboradElf.securityitems" :data-id="item.code" v-on:click="redirect($event,item)">
                <div style="float:left;width:30%">{{item.code_display}}</div>
                <div style="float:left;width:50%">{{item.name}}</div>
                <div style="float:right;width:20%">{{item.market_display}}</div>
            </div>

        </div>
    </div>
    <!--common-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/Scripts/echarts.min.js"></script>
    <script src="~/Scripts/axios.min.js" type="text/javascript"></script>
    <!--vue-->
    <script src="~/Scripts/vue.js" type="text/javascript"></script>
    <script src="~/Scripts/vue-router.js" type="text/javascript"></script>
    <!--momentJS-->
    @Scripts.Render("~/bundles/moment")
    <!--signalr-->
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("~/signalr/js")
    <!--vue framework related-->
    <!--component-->
    <script type="text/javascript" src="~/vue/app/echart-k-component.js"></script>
    <!--expose to router-->
    <script type="text/javascript" src="~/vue/Icomponent.js"></script>
    <!--router-->
    <script type="text/javascript" src="~/vue/router.js"></script>
    <!--main-->
    <script type="text/javascript" src="~/vue/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
